body {
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    background-color: hsl(0, 0%, 90%);
    display: relative;
}

button {
    height: 1.8em;
    width: 1.8em;
    margin: 1px;
    overflow: hidden;
}

input[type=checkbox] {
    
}

ul {
    padding: 0;
}

table > tr:nth-of-type(odd) {
    background-color: hsl(0, 0%, 95%);
}

table > tr:nth-of-type(even) {
    background-color: hsl(0, 0%, 90%);
}

li {
    list-style-type: none;
    display: grid;
}

li * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 0 2px;
}

table {
    border-collapse: collapse;
}

.sidebar {  
    height: 100vh;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 95%);
    box-sizing: border-box;
}
 
.listContainer { 
    min-height: 100vh;
    width: 80%;
    min-width: 400px;
    padding: 12px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
}

.tab {
    height: 64px;
    position: relative;
    margin: 0 auto;
    transition: height 0.5s;
}

.tab * {
    padding: 2px;
}

.tab:after {
    content: '';
    width: 85%;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid grey;
}

.tab:hover, .tab.selected {
    height: 96px;
}

.tab h3 {
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
}

.projectList li {
    width: 85%;
    grid-template-columns: 3fr auto auto;
}

.projectList:hover {
}

.taskList {
    width: 70%;
    padding: 8px;
}


.task {
    grid-template-columns: auto 3fr 1fr 1fr auto auto;
    height: 2em;
}

.task.complete {
    text-decoration: line-through;
    color:hsl(0, 0%, 30%)
}

.task .date, .task .priority {
    text-align: right;
}

.task button {

}

.project {

}

.task {

}

.noteContainer {

}

.noteSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

.note {
    background-color:hsl(0, 0%, 95%);
    width: 300px;
    height: 400px;
    margin: 30px;
    overflow: hidden;
    position: relative;
    padding: 6px 6px 32px 6px;
}

.note .buttonContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: hsl(0, 0%, 90%);
    padding: 2px;
    z-index: 2;
}

.noteTitle {
    width: 80%;
    height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    margin-top: 0px;
    margin-bottom: 12px;
}

.pin {
    float: right;
    width: 15%;
}

.noteContent {
    clear: both;
}

.note::after {
    content: '';
    width: 100%;
    height: 20%;
    display: inline-block;
    background: linear-gradient(hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 95%, 0.8) 50%, hsl(0, 0%, 95%) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}

.unrolled {
    min-height: 400px;
    height: auto;
    text-overflow: clip;
}

.unrolled .noteContent {
    
}

.unrolled::after{
    display: none;
}

.noteContainer .addButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
}

.pinned::before {
    content: '';
    border-bottom: 1px solid grey;
    position: absolute;
    bottom: 0;
    width: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.focused {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.unfocused:after {
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 20%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.hidden {
    visibility: hidden;
}